<template name="home">
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#"></a></li>
            <li><a href="#about"></a></li>
            <li><a href="#contact"></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>BikeShare Project</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <img src="img/BikesAvailable.png" alt="" />
        </div>
        <div class="col-md-6">
          <p>
          </p>
        
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <title>Image Start Location</title>
          <img src="img/StartLocation.jpeg" alt="" />
        </div>
        <div class="col-md-6">

        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <img src="img/TripType.jpeg" alt="" />
        </div>
        <div class="col-md-6">

        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <img src="img/TripWeekday.png" alt="" />
        </div>
        <div class="col-md-6">

        </div>
      </div>
    </div><!-- /.container -->
  </body>
</template>
